
table{
	font-size:14pt;
	border:ridge ;
	border-top-color:#CC3333 ;
	border-bottom-color:#C5AAF5;
	border-right-color:#F5A352;
	border-left-color:#FB7374;
	border-width:20px;
	width:80%;
	height:80%;
	margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
    margin-bottom: 10px;
	padding:60px 10px 20px 30px;
	
}
td{
	padding:4px 10px;
}
tr.style1{
	background-color:#21B6A8;
}
tr.style2{
	background-color:#7F3D17;
}
tr.style3{
	background-color:#3D577A;
}
.cellspace {
	border-spacing: 40px;
	padding: 20px;
	
}

body {
	background-color:#A3CBF1;
	font-style:normal;
	font-size:medium;
	font-family: Arial;
	font-weight:normal;
	color:#FFFFFF;
	text-align:justify;
	margin-left:auto;
	margin-right:auto;
}

caption{
	
	color:#660033;
	font-style:italic;
	font-size:25pt;
	font-family:"Lucida Handwriting";
	font-weight: bold;
	text-align:center;
	
}

#copyicon{
	background-size:contain;
	height:30px;
	width:20%;
	margin-left: auto;
    margin-right: auto;
	color:#192B33;
	
}

