#colorAlign {text-align: left;color:#000066;font-size:24pt;background-color:#CC99FF }
#highlight{color:#660033; font-size: 20pt;background-color:#FF99CC}
.parafeature {font-family: Arial,font-size:16; color:#000066}
.break{background-color:#CC66FF;height:4px}